* {
  box-sizing: inherit;
}

h3,
h4,
h5 {
  margin: 0;
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  box-sizing: border-box;
}

.test {
  margin-left: 900px;
  margin-top: 10px;
}

.sidebar {
  position: absolute;
  background-color: #001f8d;
  border-radius: 0 25px 25px 0;
  width: 15%;
  height: 100vh;
  color: whitesmoke;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.sidebar > .logo {
  padding: 1rem;
  padding-right: 1.3rem;
  width: 70%;
  font-size: larger;
  text-align: center;
}

.navlist {
  width: 100%;
}

.navlink {
  transition: all 0.5s;
}

.sidebar .navlink .active {
  background-color: cornflowerblue;
  color: black;
  font-weight: 600;
}

.sidebar .navlink:hover {
  background-color: lightskyblue;
  color: black;
}

.sidebar .navlink > a {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
  display: block;
  text-decoration: none;
  color: inherit;
}

.sidebar .navlink i {
  padding-right: 10px;
  padding-left: 15%;
}

.inbox-container {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 75%;
  height: 80%;
  border: 2px solid black;
  border-radius: 15px;
}

.listedMessage {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.listedMessage:not(:first-child):hover {
  transition: all 0.5s;
  background-color: aqua;
  cursor: pointer;
}

.listedMessage:not(:last-child) {
  border-style: none;
  border-bottom: 1px solid black;
}

.listedMessage:first-child {
  border-radius: 15px 15px 0 0;
  font-weight: 600;
}

section {
  margin-left: 15%;
  width: 85%;
}

section > div:first-child {
  padding-left: 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > div:first-child > button {
  transition: all 0.5s;
  margin-right: 3rem;
  padding: 0.3rem;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #001f8d;
  color: whitesmoke;
}

section > div:first-child > button:hover {
  background-color: aqua;
  color: black;
}

section h2 {
  font-size: xx-large;
}

.connection-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  justify-content: space-evenly;
  align-content: center;
}

.connection-menu > div:first-child {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

.wallet-btn {
  border: none;
  border-radius: 16px;
  background-color: #001f8d;
  color: white;
  transition: all 0.5s;
  font-size: 1rem;
  padding: 0.66rem;
}

.displayMessage-container {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 75%;
  height: 80%;
  display: flex;
  margin: 1rem;
  border-radius: 15px;
  border: 2px solid black;
  flex-wrap: wrap;
  align-content: flex-start;
}

.displayMessage-container > * {
  padding: 0.25rem;
}

.displayMessage-container > h3 {
  width: 85%;
}

.displayMessage-container > h4 {
  width: 15%;
}

.displayMessage-container > h3,
.displayMessage-container > h4,
.displayMessage-container > h4 + div {
  border-bottom: 1px solid black;
}

.displayMessage-container > h4 + div {
  width: 100%;
}

.displayMessage-container > h4 + div + div {
  width: 100%;
}

form {
  padding: 1.5rem;
}

.formLabel {
  width: 100%;
}

.formField {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

textarea.formField {
  resize: none;
}

form button {
  border: none;
  background-color: #001f8d;
  color: white;
  transition: all 0.5s;
  border-radius: 15px;
  padding: 0.5rem;
}
