* {
  box-sizing: inherit;
}

.sidebar {
  position: absolute;
  background-color: #001f8d;
  border-radius: 0 25px 25px 0;
  width: 15%;
  height: 100vh;
  color: whitesmoke;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar>.logo{
  padding: 1rem;
  padding-right: 1.3rem;
  width: 70%;
  font-size: larger;
  text-align: center;
}

.sidebar ul{
  list-style-type: none;
  padding-left: 0.75rem;
}

.sidebar li>i{
  padding-right: 10px;
}

.sidebar li:not(:last-child){
  padding-bottom: 1.5rem;
}

.inbox-container{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 75%;
  height: 75%;
  border: 2px solid black;
  border-radius: 15px;
}

.listedMessage {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.listedMessage:hover {
  transition: all 0.5s;
  background-color:aqua;
  cursor: pointer;
}

.listedMessage:not(:last-child){
  border-style: none;
  border-bottom: 1px solid black;
}

.listedMessage:first-child{
  border-radius: 15px 15px 0 0;
  font-weight: 600;
}
